.example {
  display: grid;
}

.examplePreview {
  border: 0;
  width: 100%;
  min-height: 500px;
}

.previewLoading {
  display: none;
}

.previewContainer {
  min-height: 500px;
  position: relative;
}

.previewContainerLoading {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 16px;
}

.previewContainer .spinner {
  position: absolute;
}

.previewContainerLoading .previewContainer__cover {
  display: none;
}

.previewContainer__cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
