.componentcontainer {
  max-width: 728px;
  width: 100%;
  line-height: 1.6rem;
}

.loadingPlaceholder .blogtitle {
  height: 24px;
}

.loadingPlaceholder .blogsubtitle {
  height: 18px;
}

.loadingBody {
  height: 12px;
  margin-bottom: 8px;
}

.loadingBody:nth-child(1) {
  width: 90%;
}

.loadingBody:nth-child(3) {
  width: 65%;
}

.inlineImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 32px auto;
}

.inlineImage {
  max-width: 100%;
}

.inlineImageTitle {
  font-size: 0.8rem;
  margin-top: 8px;
  color: #777;
}

.doanddont {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.dos h3 {
  color: var(--color-g700);
}

.donts h3 {
  color: var(--color-r700);
}

.examples {
  display: grid;
  gap: 36px;
}

.example {
  display: grid;
}

.examplePreview {
  border: 0;
  width: 100%;
  min-height: 500px;
  margin-top: 16px;
}

.badges {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.content {
  margin-top: 48px;
}
